{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block container %}

<div class="container profile-head">
  <div class="row">
      <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}">
      </div>
    <br>
    <h1 class="text-primary">{{user.name}}</h1>
  </div>
</div>

<div class="container">
<br>
    <!-- edit form column -->
  <div class="col-md-9">
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
</div>

{% endblock %}
