{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ block.super }}Profile{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'account_login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}
<div class="container profile-head mt-1">
  <div class="row">
      <div class="col-sm-4"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail user.photo|default:'default_profile.png' 140x140 crop %}"></div>
      <div class="col-sm-8 centered-profilehead"><h1><strong>{{ user.first_name }} {{ user.last_name }}</strong></h1></div>
      </div>
    <br>
</div>
</div>

<div class="container profile-body">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class='list-group-item text-right'><span class="pull-left"><strong>First Name:</strong></span> {{ user.first_name|default:"First Name" }}
        <li class='list-group-item text-right'><span class="pull-left"><strong>Last Name:</strong></span> {{ user.last_name|default:"Last Name" }}
        <li class='list-group-item text-right'><span class="pull-left"><strong>Location:</strong></span> {{ user.city|default:"City" }}, {{ user.state }}
        <li class="list-group-item text-right"><span class="pull-left"><strong>Email:</strong></span> {{ user.email|default:"missing" }}
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">General Information</div>
        <ul class="list-group">
          <li class="list-group-item text-right"><span class = "pull-left"><strong>Bio:</strong></span> {{ user.bio|default:"Add a bio" }}
          <li class="list-group-item text-right"><span class = "pull-left"><strong>Skills:</strong></span> {{ user.skills|default:"Add skills" }}
        </ul>
        <div class="panel-heading">Prospective Information</div>
        <ul class="list-group">
          <li class="list-group-item text-right"><span class="pull-left"><strong>Job Titles of Interest</strong></span> {{ user.jobs_of_interest|default:"List job titles of interest" }}
        </ul>
        </div>
      </div>
  </div>
</div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 text-center">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock %}
